body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url('./image/fon.png'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.App {
  width: 100%;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin: 0 10px;
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  width: 100%;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #4caf50;
}

button {
  padding: 14px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #f44336;
}

button:active {
  background-color: #d32f2f;
}

.home-page, .menu, .territorial-menu, .subordinate-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding-top: 20px; 
}

.home-page h1, .territorial-menu h1, .subordinate-menu h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 40px;
  font-weight: bold;
  padding-top: 20px; 
}

.menu button, .territorial-button, .subordinate-button, .back-button {
  padding: 18px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 230px; 
  height: 70px; 
  margin: 15px 0;
}

.menu button:hover, .territorial-button:hover, .subordinate-button:hover {
  background-color: #f44336;
  transform: scale(1.05);
}

.menu button:active, .territorial-button:active, .subordinate-button:active {
  background-color: #d32f2f;
  transform: scale(0.98);
}

.back-button {
  background-color: #f44336; 
}

.back-button:hover {
  background-color: #d32f2f; 
}

.back-button:active {
  background-color: #2196f3; 
}

.table-container {
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  word-wrap: break-word;
}

.back-button-container {
  margin-top: auto;
  text-align: center;
  padding: 20px 0;
}


@media (max-width: 768px) {
  .menu button, .territorial-button, .subordinate-button {
    width: 160px; 
    font-size: 14px;
  }

  .back-button {
    width: 100px; 
    height: 50px;
    margin-top: 0; 
  }

  .territorial-buttons, .subordinate-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .subordinate-button {
    width: 130px; 
    font-size: 11px;
  }

  .territorial-button {
    width: 160px; 
    font-size: 14px;
  }

  .button-row {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  th, td {
    word-wrap: break-word;
    white-space: normal;
  }

  .territorial-menu h2, .subordinate-menu h2 {
    font-size: 15px;
    margin-top: 20%; 
  }

  .back-button {
    margin-top: -15px; 
  }
}

@media (max-width: 400px) {
  .menu button, .back-button, .territorial-button, .subordinate-button {
    width: 160px;
  }

  table {
    width: 100%;
    overflow-x: auto;
  }

  .territorial-menu h2, .subordinate-menu h2 {
    font-size: 15px;
    margin-top: 20%; 
  }

  .back-button {
    margin-top: -10px; 
  }
}

.table-container {
  margin: 10px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: center; 
}

tr:hover {
  background-color: #f9f9f9;
}

td {
  word-wrap: break-word;
  text-align: left;
}

.add-row-button {
  padding: 8px 16px;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.search-input {
  padding: 5px;
  width: 180px;
  font-size: 14px;
}

.cancel-search {
  padding: 5px;
  font-size: 14px;
}

@media (max-width: 768px) {
  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    font-size: 14px; 
  }

  th, td {
    font-size: 12px; 
    padding: 6px; 
  }

  .add-row-button {
    font-size: 14px;
    padding: 8px;
  }

  .search-input {
    width: 140px; 
  }

  .cancel-search {
    font-size: 14px;
    padding: 5px;
  }

  th {
    text-align: center;
  }

  .table-container {
    margin: 5px;
    padding: 5px;
  }
}

@media (max-width: 400px) {
  .add-row-button {
    font-size: 12px;
    padding: 6px;
  }

  .search-input {
    width: 100px; 
  }

  .cancel-search {
    font-size: 12px;
  }

  th, td {
    font-size: 10px; 
    padding: 4px; 
  }
}

.login-form {
  margin-left: -50%; 
  padding-left: 50%;  
  margin-right: 150px;
}

.login-form button{
  width: 200px;
  margin-left: 10%;
  margin-top: 10px;
}

